* {
	font-family: Arial, sans-serif;
}

.alert-p2 {
	--bs-alert-color: rgb(146, 93, 0);
	--bs-alert-bg: rgb(226, 195, 140);
	--bs-alert-border-color: rgba(255, 159, 64, 1);
}

.header {
	display: flex;
	padding: 10px;
	justify-content: center;
	background-color: #666;
	color: white;
	position: relative;
	align-items: baseline;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.column {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.content {
	display: flex;
	flex: 1;
	gap: 10px;
	width: 100%;
	padding: 10px;
	overflow: hidden;
}

.db-item {
	display: flex;
	flex-direction: column;
	flex: 1;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: rgb(227, 227, 227);
	padding: 10px;
	overflow: hidden;
}

#nationwide, #regionwide {
	overflow: scroll;
}

h1, h2, h3{
	font-weight: bold;
	text-align: center;
}

h2 {
	margin-bottom: 20px;
}

hr {
	margin: 0px;
}

.dropdown-item {
	padding-left: 30px;
}

.emergency-call {
	position: absolute;
	right: 10px;
	font-weight: bold;
	color: red;
}

.emergency-number {
	color: #d22;
	font-size: 1.2em;
}

#chart {
	margin-top: 10px;
	flex: none;
}

.buttons {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.pie-chart {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: conic-gradient(red 0 33%, blue 33% 66%, green 66% 100%);
	margin: 20px auto;
	position: relative;
}

.slice {
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.fire {
	top: 20%;
	left: 60%;
}

.police {
	top: 60%;
	left: 10%;
}

.medic {
	top: 60%;
	right: 10%;
}

.region-alerts input,
.nationwide-alerts input {
	width: 100%;
	padding: 12px;
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

body {
	background-color: white;
}
