<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident Hub</title>

    <script>
      // this prevents the page from being opened as a file
      if (window.location.protocol === "file:") {
        alert("Please open this file from the server");
        window.location = "http://localhost:3000/";
      }
    </script>
    <script src="/static/lib/socket.io.js"></script>
    <script src="/static/lib/core.js"></script>
    <script src="/static/lib/chart.js"></script>
    <script src="/static/lib/piechart.js"></script>
    <script src="/static/lib/chart.js"></script>
    <script src="/static/lib/linechart.js"></script>
    <script src="/static/lib/form.js"></script>

    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Incident Hub</h1>
            <div class="emergency-call">IN CASE OF EMERGENCY CALL <span class="emergency-number">112</span></div>
        </header>

        <div class="content">
            <div class="column">
                <section class="notifications">
                    <form id="myForm">
                        <h2> Real Time Notifications</h2>
                        <div>
                            <label for="email_address">Email Address:</label>
                            <input type="email" id="email_address" name="email" required>
                        </div>

                        <div>
                            <label for="location">Location:</label>
                            <input type="text" id="location" name="location" required >
                        </div>
                        <input type="submit" value="Send Me Notifications">

                    </form>

                    <div class="piechart">
                        <div class="buttons">
                            <button class="btn">Nationwide</button>
                            <button class="btn">City</button>
                        </div>

                        <div style="height: 400px; overflow hidden">
                            <canvas id="myChart"></canvas>
                        </div>
                        <script>
                            let chart = piechart('myChart', {
                                data: {
                                    labels: ['Brandweer', 'Politie', 'Ambulance', 'Other'],
                                    datasets: [{
                                        label: 'Number of Calls',
                                        data: [0, 0, 0, 0],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 159, 64, 0.2)',
                                            'rgba(128, 128, 128, 0.2)'

                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 159, 64, 1)',
                                            'rgba(128, 128, 128, 1)'

                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    responsive: true,
                                }
                            });

                            connect_block(chart, "piecharts")
                        </script>
                    </div>

                </section>
            </div>
            <div class="column">
                <section class="location-alerts">
                    <h3>Location</h3>
                    <input type="text" placeholder="City">
                    <input type="text" placeholder="Alerts">
                </section>
            </div>
            <div class="column">
                <section class="nationwide-alerts">
                    <h3>Nationwide</h3>
                    <div id="nationwide-1"></div>
                </section>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('nationwide', function(data) {
        document.getElementById("nationwide-1").innerText = data["description"];
    });
</script>

<script>
    form("myForm", {target: "/api/form", callback: function(){}});
</script>

</html>
